<div class="row eachRow">
  <ng-container *ngFor="let card of cardDetails">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="card totalCard">
        <img class="card-img-top" [src]="card.imageUrl" height="200" alt="Card image cap">
        <div class="card-body" style="background-color: #E0E0E0;padding:10px">
          <h5 class="card-title">{{card.title}}</h5>
          <p class="card-text">{{card.content}}</p>
          <button class="btn btn-primary btn-block" [routerLink]="['/courses',card.id]">{{card.buttonText}}</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
