<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary btn-sm imageButton" id="profile" ngbDropdownToggle>
        <img [src]="profileObject.photoURL" height="35" width="35" style="border-radius:50%"/>
      </button>
      <div ngbDropdownMenu aria-labelledby="profile">
        <button class="dropdown-item" *ngIf="profileObject.userName !== null ">
          <span class="fa fa-user" style="padding-right:10px"></span>
          {{profileObject.userName}}
        </button>
        <button class="dropdown-item" *ngIf="profileObject.email !== null">
          <span class="fa fa-envelope" aria-hidden="true" style="padding-right:10px"></span>
          {{profileObject.email}}
        </button>
        <button class="dropdown-item" *ngIf="profileObject.providerId !== null ">
          <span class="fa fa-link" aria-hidden="true" style="padding-right:10px"></span>
          {{profileObject.providerId}}
        </button>
        <button class="dropdown-item" (click)="logOut()">
          <span class="fa fa-power-off" aria-hidden="true" style="padding-right:10px"></span>
          Sign-out
        </button>
      </div>
    </div>
  </div>
</div>
